@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-image: url('/background.jpg'); background-repeat:no-repeat; background-position: center; 
    background-attachment:fixed; background-size: cover; position:absolute; left:0px; top:0px; width: 99vw; height:94vh; z-index: -1;">
    <div class="text-center" style="padding-top:280px; text-shadow: 2px 2px 8px rgba(0,0,0,0.5);">
        <h1 class="display-4"><b>Welcome to the Music Library</b></h1>
        <p style="font-size:20px;">Your space for music.</p>
    </div>
</div>
